{% extends 'back.html.twig' %}

{% block title %}Categorie List{% endblock %}

{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#rech tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <input class="form-control" id="myInput" type="text" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">

    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="rech">
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.type }}</td>
                <td>
                    <a class="btn btn-danger" href="{{ path('app_categorie_delete', {'id': categorie.id}) }}">Delete</a>
                    <a class="btn btn-primary"href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
